@model EntityLayer.Concrete.User
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_KeydataLayout.cshtml";

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

<h1>Kullanıcı Güncelle</h1>
<br />
@using (Html.BeginForm("EditUser", "User", FormMethod.Post))
{
    <div class="form-group">

        @Html.Label("Kullanıcı ID")
        @Html.TextBoxFor(x => x.UserID, new { @class = "form-control" })        
        <br />
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        <br />
        @Html.Label("Kullanıcı Soyadı")
        @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control" })
        <br />
        @Html.Label("Kullanıcı Görevi")
        @Html.TextBoxFor(x => x.UserTitle, new { @class = "form-control" })
        <br />
        @Html.Label("Kullanıcı Eposta")
        @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Kaydet</button>
}

