@using EntityLayer.Concrete
@model IEnumerable<Project>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_KeydataLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2 class="bg bg-secondary">Projeler</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>PROJE ADI</th>
        <th>AÇIKLAMA</th>
        <th>TUTAR</th>
        <th>MÜŞTERİ</th>
        <th>TAKİP EDEN</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProjectID</td>
            <td>@item.ProjectName</td>
            <td>@item.ProjectDesc</td>
            <td>@item.Quote.QuotePrice @item.Quote.QuoteCurrency</td>
            <td>@item.Client.ClientName</td>
            <td>@item.User.UserName @item.User.UserSurname</td>
            <td><a href="/Project/DeleteProject/@item.ProjectID" class="nav-icon fas fa-trash"></a>&nbsp;&nbsp;&nbsp;<a href="/Project/EditProject/@item.ProjectID" class="fas fa-pen"></a></td>
        </tr>
    }
</table>
<br />
<a href="/Project/AddProject" class="btn btn-success">Yeni Proje Ekle</a>

